@model Order

@{
    ViewData["Title"] = "Create Order";
}

<h3>Create Order</h3>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label class="form-label">Select Table</label>
        <select asp-for="TableId" class="form-select" asp-items="ViewBag.Tables"></select>
        <span asp-validation-for="TableId" class="text-danger"></span>
    </div>

    <hr />

    <h4>Order Items</h4>

    <table class="table table-bordered" id="orderItemsTable">
        <thead>
            <tr>
                <th>Menu Item</th>
                <th>Qty</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.OrderItems.Count; i++)
            {
                <tr>
                    <td>
                        <select name="OrderItems[@i].ItemId" class="form-select">
                            <option value="">-- Select Item --</option>
                            @foreach (var item in ViewBag.MenuItems)
                            {
                                <option value="@item.ItemId">@item.Name (@item.Price)</option>
                            }
                        </select>
                    </td>

                    <td>
                        <input type="number" class="form-control"
                               name="OrderItems[@i].Quantity" min="1" value="1" />
                    </td>

                    <td>
                        <input type="text" class="form-control"
                               name="OrderItems[@i].Notes" />
                    </td>

                    <td>
                        <button type="button" class="btn btn-danger btn-sm remove-row">X</button>
                    </td>

                    <td>
                        <!-- FIXED: changed from id="addRow" to class="add-row" -->
                        <button type="button" class="btn btn-secondary btn-sm add-row">+</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    

    <br /><br />

    <button type="submit" class="btn btn-primary">Save Order</button>
</form>



    @section Scripts {
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    let rowIndex = @Model.OrderItems.Count;

    // Add row from ANY + button
    $(document).on("click", ".add-row", function () {

        let newRow = `
        <tr>
            <td>
                <select name="OrderItems[${rowIndex}].ItemId" class="form-select">
                    <option value="">-- Select Item --</option>
                    @foreach (var item in ViewBag.MenuItems)
                    {
                        <option value="@item.ItemId">@item.Name (@item.Price)</option>
                    }
                </select>
            </td>

            <td>
                <input type="number" class="form-control"
                       name="OrderItems[${rowIndex}].Quantity" min="1" value="1" />
            </td>

            <td>
                <input type="text" class="form-control"
                       name="OrderItems[${rowIndex}].Notes" />
            </td>

            <td>
                <button type="button" class="btn btn-danger btn-sm remove-row">X</button>
            </td>

            <td>
                <button type="button" class="btn btn-secondary btn-sm add-row">+</button>
            </td>
        </tr>`;

        $("#orderItemsTable tbody").append(newRow);

        rowIndex++;
    });

    
            $(document).on("click", ".remove-row", function () {
            // Count current rows
            let rowCount = $("#orderItemsTable tbody tr").length;

            if (rowCount > 1) {
                $(this).closest("tr").remove();
            } else {
                alert("At least one order item is required.");
            }
        });
</script>
}


